<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Calce-me</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
</head>
<body>
    <header>
        <nav>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/"><img src="img/sneakers.svg">Calce-me</a>   
                </li>
            </ul>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="cadastro">Cadastro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="fabricacao">Fabrição</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="parcerias">Parcerias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cadastroparceria">Cadastro Parceria</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="container">
        {{{body}}}
    </section>
    <footer>
        <div class="contato container">
            <div class="footer-autor">
            <a href="https://www.linkedin.com/in/micael-macedo-08560120a/">
                <img src="img/Linkedin.png" alt="Linkedin-Icone">
                /Micael-Macedo
            </a>
            <a href="https://github.com/Micael-Macedo">
                <img src="img/Github.svg" alt="Github-Icone">
                /Micael-Macedo
            </a>
        </div>
      </div>
    </footer>
</body>
</html>