<h1>Cadastro de Sapatos</h1>
<form method="post" action="cadastro">
    <div class="mb-3">
        <label class="form-label" for="txtModelo">Modelo</label>
        <input type="text" class="form-control" name="txtModelo">
    </div>
    <div class="mb-3">
        <label class="form-label" for="txtCor">Cor</label>
        <input type="text" class="form-control" name="txtCor">
    </div>
    <div class="mb-3">
        <label class="form-label" for="txtDescricao">Descrição</label>
        <input type="text" class="form-control" name="txtDescricao">
    </div>
    <div class="mb-3">
        <label class="form-label" for="txtMaterial">Material</label>
        <input type="text" class="form-control" name="txtMaterial">
    </div>
    <div class="mb-3">
        <label class="form-label" for="numValor">Valor</label>
        <input type="number" class="form-control" name="numValor">
    </div>
    <button type="submit">Cadastrar</button>
</form>