<h1>Cadastro parceria</h1>
<form action="cadastroparceria" method="post">
    <div class="mb-3">
        <label class="form-label" for="nome">Nome da Parceira</label>
        <input type="text" name="nome" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label" for="anos">Anos de Parceiria</label>
        <input type="number" name="anos" class="form-control" >
    </div>
    <div class="mb-3">
        <label class="form-label" for="contato">Contato(Link)</label>
        <input type="text" name="contato" class="form-control">
    </div>
    <button type="submit">Cadastrar</button>
</form>