<div id="fabricacao">
    <h1>Fabricacao dos nossos calçados</h1>
    <ol>
        <li class="titulo-fabricacao">Desenvolvimento</li>
        <ul>
            <li>A primeira etapa da fabricação de um sapato começa no setor de desenvolvimento. Lá é onde a equipe de estilo entrega a ficha técnica contendo todas as informações da pesquisa que passa para as mãos do modelista, que desenhará o sapato na fôrma. À partir desse esboço, ele tem o molde do sapato, que deixa de ser um desenho 2D e passa a ser um quebra cabeça tridimensional.  
            </li>
            <li><img src="img/desenvolvimentoCalçado-1.jpg" alt=""></li>
        </ul>
        <li class="titulo-fabricacao">Almoxarifado</li>
            <ul>
                <li>No almoxarifado <a href="https://www.unifal-mg.edu.br/proaf/wp-content/uploads/sites/129/2020/02/Perguntas-Frequentes-Divisão-de-Almoxarifado.pdf"> (clique aqui para saber o significado de almoxarifado) </a> são separados todos os materiais presentes na ficha técnica que irão compor o sapato: o tipo de sintético ou tecido que será utilizado, e os metais, cordões, solas e etc. Nossa equipe confere a qualidade de cada item, antes de separá-los e encaminhá-los para a produção.</li>
                <li><img src="img/almoxarifadoCalçado.jpg" alt=""></li>
            </ul>
        <li class="titulo-fabricacao">Corte</li>
            <ul>
                <li>Separados os materiais necessários, os mesmos são levados ao corte, que pode ser feito por máquina ou através de um processo manual. Nesse setor, cortamos todas as peças que o modelista separou do molde da fôrma. Após serem cortadas, as peças são levadas à chanfração - local onde é feita o acabamento das peças de pesponto, a fim de que fiquem refinadas, e com espessuras uniformes.</li>
                <li><img src="img/corte.jpeg"> </li>
            </ul>
        <li class="titulo-fabricacao">Pesponto</li>
            <ul>
                <li>No pesponto é onde as peças são unidas para formarem o cabedal, que é como chamamos a parte de cima do calçado. Em grupo de 3 pessoas, fazemos as dobrações necessárias, e utilizamos cola de spray para assegurar as peças até que possam ser unidas pelas linhas de costura.</li>
                <li><img src="img/pesponto.jpeg" alt=""></li>
            </ul>
        <li class="titulo-fabricacao">Pré-frezado</li>
            <ul>
                <li>Enquanto a produção do cabedal (parte de cima do calçado) vai avançando no pesponto, no pré frezado acontece a confecção e o preparo do solado que vai se unir ao cabedal. Através da união de diversas peças, nossa equipe monta um sanduíche que completará o solado completo. É aqui que ela ganha o seu formato, sua coloração e acabamento para atingir o visual final desejado.</li>
                <li><img src="img/prefrezadoCalçado.jpeg" alt=""></li>
            </ul>
        <li class="titulo-fabricacao">Entreposto</li>
            <ul>
                <li>Como dito no nome, nessa etapa, que fica entre o pesponto e a montagem, separam-se os demais materiais que vão se unir ao cabedal já pronto, com o restante das peças, para completarmos o processo de montagem e darmos início ao acabamento e finalização.</li>
                <li><img src="img/entreposto.jpeg" alt=""></li>
            </ul>
        <li class="titulo-fabricacao">Montagem</li>
            <ul>
                <li>Na montagem, que é um processo dividido em 3 etapas, moldamos o cabedal na fôrma e o preparamos para fixação do solado. Como primeira etapa, a máquina de montagem de bico faz com que o material do cabedal seja esticado e moldado à fôrma. Simultâneamente, a cola é adicionada para fixar a palmilha no cabedal. Na segunda etapa, fechamos as laterais do cabedal, e finalizamos na terceira etapa com o fechamento da base, ou traseira, do calçado.</li>
                <li><img src="img/montagem.jpeg" alt=""></li>
            </ul>
        <li class="titulo-fabricacao">Acabamento</li>
            <ul>
                <li>No setor de acabamento é onde é feito todos os cuidados para que o sapato fique ainda mais bonito. </li>
                <li><img src="img/acabamento.jpeg" alt=""></li>
            </ul>
        <li class="titulo-fabricacao">Finalização</li>
            <ul>
                <li>Nessa etapa o sapato é preparado para ser embalado. Após a colocação de cordão, enchimento e palmilha, o sapato passa pela revisão final e só depois é levado para o embalo, onde todos os últimos detalhes são ajustados - como a inclusão do saquinho para guardar o sapato.</li>
                <li><img src="img/finalizacao.jpeg" alt=""></li>
            </ul>
    </ol>
</div>